<script>

    $(document).ready(function() {
        var html = $('html');
        if(html.hasClass('ie11')){
            console.log('Es ie11');
            $('#descargar-pdf').remove();
            $('#descargar-pdf-ie-11').removeClass('hidden');
        }else{
            console.log('No es ie11');
            $('#descargar-pdf-ie-11').remove();
        }
    });

    $(document).on("click", "#descargar-pdf", function () {
        var xhr = new XMLHttpRequest();
            xhr.open('GET', '/documents/35348/80300/Red+de+alerta+del+observatorio/f85bbb8a-ca24-47eb-b124-2248fbec861b', true);
            xhr.responseType = 'arraybuffer';
            xhr.onload = function(e) {
            if (this.status == 200) {
                var blob=new Blob([this.response], {type:"application/pdf"});
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download="Red de alerta de observatorios.pdf";
                link.click();
            }
            };
        xhr.send();
});

</script>
<h1>Descarga de PDF. Red de alerta del observatorio.</h1>
    <div id="descargar-pdf" class="INC_documentoPDF">
        <a title="descargar PDF" style="cursor:pointer;">Descarga de Formulario</a>
    </div>
    <div id="descargar-pdf-ie-11" class="INC_documentoPDF hidden">
        <a href="/documents/35348/80300/Red+de+alerta+del+observatorio/f85bbb8a-ca24-47eb-b124-2248fbec861b" title="descargar PDF" target="_blank">Descarga de Formulario</a>
    </div>
<br/>



